In [1]:
#1:Write for loop to print even numbers
for n in range(2, 21, 2):
     print(n)

2
4
6
8
10
12
14
16
18
20

In [1]:
#2:Create a list of names adn use a for loop to print each name in uppercase
unique_names = ["Ayaan", "Zayn", "Hamza", "Ali"]
for name in unique_names:
     print(name.upper())

AYAAN
ZAYN
HAMZA
ALI

In [3]:
#3:Use for Loop with range to print numbers from 10 to 1 in reverse order
for r in range(10, 1, -1):
    print(r)

10
9
8
7
6
5
4
3
2

In [2]:
#Iterate through a list of integers and print only the numbers that are divisible by 3.
integers = [3,9, 15,18, 20,21, 25,30 ,42, 55]
for int in integers:
     if int % 3 == 0:
         print(int)

3
9
15
18
21
30
42

In [3]:
#5:Write a loop that prints the squares of numbers from 1 to 10.
numbers_square = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for square in numbers_square:
    new_square = square ** 2
    print(new_square)

1
4
9
16
25
36
49
64
81
100

In [7]:
#6:Given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit.
celsius_temp = [15, 17, 23, 29, 37]
for temp in celsius_temp:
    farenhite_temp = (temp * 9/5) + 32
    print(farenhite_temp)

59.0
62.6
73.4
84.2
98.6

In [9]:
#7:Create a for loop that prints the multiplication table of 5.
table_five = [1, 3, 4, 5, 6, 8, 10]
for five in table_five:
     print(f"5 x {five} = {5 * five}")

5 x 1 = 5
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 8 = 40
5 x 10 = 50

In [8]:
#8:Write a program to find the sum of all numbers in a list using a for loop.
adding_numbers = [15, 20, 35, 40, 65, 70]
total_number = 0
#printing total sum via loop
for addnumber in adding_numbers:
    total_number = total_number + addnumber
    print(total_number)

#Printing Total Sum without loop
print(total_number)

15
35
70
110
175
245
245

In [4]:
#9:Use a for loop to iterate through a string and print each character separately.
string = "Saad"
for i in string:
    print(i)

S
a
a
d

In [6]:
#10:Create a list of words and use a for loop to print only the words with more than 5 letters.
names= ["Hamza", "Ali", "Awais","Ayaan","Abdullah"]
for character in names:
    if len(character)>5:
        print(character)

Abdullah